.navbar {
  background: #ffffff1c;
  border: 2px solid #ffffff1a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
